body, html {
	width: 100%;
	height: 100%;
}

/* Background image for second page*/
.second-page {
	background: url('images/coffee1680x1050.jpg') no-repeat center center fixed;
	background-size: cover;
	padding-bottom: 50px;
	padding-top: 80px;
	height: 900px;
}

/* Background image for third page*/
.third-page {
	background: url('images/apple_macbook1680x1050.jpg') no-repeat center center fixed;
	background-size: cover;
	padding-bottom: 50px;
	padding-top: 50px;
	height: 1050px;
}

/* Background image for fourth page */
.fourth-page {
	background: url('images/coffee1680x1050.jpg') no-repeat center center fixed;
	background-size: cover;
	padding-bottom: 50px;
	padding-top: 200px;
	height: 1050px;
}

#main-navbar {
	font-family: Kanit, Verdana;
	background-color: #595959;
	opacity: 0.88;
}

/* Shadow for social media buttons*/
.media-shadow {
	box-shadow: 3px 3px 7px black;
	text-shadow: 0.5px 0.5px 1px DarkGray;
}

/* Navbar brand name*/
#my-name {
	color: black;
	text-shadow: 2px 2px 4px #e6e6ff;
	border-top: 2px solid black;
	border-bottom: 3px solid black;
}

/* For the navigation bar buttons*/
.li-nav-name {
	font-size: 18px;
}


/* Remove the ugly gray background from the jumbotron */
.jumbotron {
	background-color: transparent;
	font-family: Kanit, Verdana;
	color: black;
}

/* For hover events in interact.js */
.hover-over-me {
	background-color: #06937e;
	border: 1px solid black;
	box-shadow: 2px 2px 5px black;
}

/* To add space on top of the jumbotron */
.jumbo-mar {
	margin-top: 60px;
}

/* To add space between social media buttons and a border*/


 /* For the self taught portion of the text */
.self-taught {
	color: #ffb31a;
	font-weight: bold;
}



/* General round white border on element*/
.white-border {
	border: 2px solid white;
	border-radius: 4px;
	box-shadow: 3px 2px 3px;
}

/* Picture of me and loki :) */
.me-n-loki {
	height: 200px;
	max-width: 200px;
	border: 2px solid #fcf5eb;
	border-radius: 45%;
	box-shadow: 2px 2px 3px;
}

.me-n-loki:hover {
	-webkit-filter: brightness(1.2);
	-moz-filter: brightness(1.2);
	-o-filter: brightness(1.2);
	-ms-filter: brightness(1.2);
	transition: 0.3s;	
}

/* Hover event on social media buttons */
.btn {
	border-radius: 100%;
	margin-right: 10px;
	border: 1px solid black;
	transform: scale(1.05);
	margin-top: 2px;
}

.btn:hover {
	color: #fff;
	border: 1px outset rgba(0, 0, 0, 0.9);
	background: #b3b300;
	transition: 0.3s;
	text-shadow: 1px 1px 1px rgba(0,0,0, 20);
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}


#awesomeness-portfolio {
	color: #b3b300;
	font-family: Kanit, Verdana;
	font-size: 55px;
	text-shadow: 2px 2px 1px black;
}

.iconbox {
	border: 2px solid black;
	margin-top: 10px;
	margin-bottom: 0px;
	border-radius: 10px 10px 10px 10px / 25px 25px 25px 25px;
}

.iconbox:hover {
	transition: 0.3s;
	box-shadow: 5px 3px 2px;
	background-color: yellow;
	-webkit-filter: blur(5px) brightness(1.2);
	-moz-filter: blur(5px) brightness(1.2);
	-o-filter: blur(5px) brightness(1.2);
	-ms-filter: blur(5px) brightness(1.2);
}

.projtitle {
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-family: Kanit, Verdana;
	color: #b3b300;
	text-shadow: 2px 2px 1px black;
}

.dl {
	text-decoration: none;
	color: black;
	text-shadow: 2px 2px 1px white;
}

.dl:hover {
	text-decoration: none;
	color: yellow;
	transition: 0.2s;
}